/*Globals*/
main {
  background-image: url("../images/lo.jpg");
  background-attachment: fixed;
}

h1 {
  padding-left: 50px;
  padding-top: 5px;

  font-size: 45px;
  font-weight: bold;

  color: rgb(20, 121, 216);
}

.div-section {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 40px;
  margin: auto;
}

h2 {
  padding: 40px;
  text-align: center;
  font-size: 40px;
}
/*Profile 1st section*/

.image-profile {
  margin-bottom: 2%;
  width: 100%;
  max-width: 800px;
  height: 525px;
  border-radius: 10%;
  box-shadow: 20px 20px 20px 20px rgba(231, 150, 218, 0.5);
  background-repeat: no-repeat;
  background-image: url("../images/kira2.jpg");
}
.width-imagen-profile {
  display: flex;
  justify-content: center;
}
.hi-name {
  margin-left: 70px;
  margin-top: 80px;
  padding: 20px;
  width: 250px;

  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: rgba(114, 153, 254, 0.5);
}

/*ABOUT ME*/

.about-me {
  border-radius: 20% 20% 0 0%;
  background-color: rgba(104, 170, 224, 0.753);
}
.h2-about-me {
  display: block;
  font-weight: bolder;
  color: rgb(230, 192, 241);
}
.paragraph {
  margin-bottom: 40px;
  /* padding-left: 50px;
  padding-right: 50px;*/
  font-size: 25px;
  line-height: 40px;
  text-align: justify;
  color: white;
}
/*
.div-paragraph {
  margin-bottom: 60px;
}*/

a {
  margin-left: 50px;
  padding: 15px 45px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #fff;

  background: rgb(245, 118, 167);
  border: 1px unset #740f66;
  border-radius: 20px;
  text-decoration: none;
}
/*MY SKILLS*/
.skills {
  border: rgb(48, 66, 221) solid;
  background-color: rgb(106, 90, 247, 0.4);
}
/*
.size-skills {
  margin-bottom: 80px;
}*/
h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.h2-skills {
  font-weight: bolder;
  color: chartreuse;
}

.firts-box {
  height: 45%;
  width: 400px;
  background: #fff;
  border-radius: 10px;
}

.second-box {
  height: 100%;
  width: 50%;
  background: rgb(22, 197, 209);
  border-radius: 10px;
}

.aling-skills {
  /*padding-left: 50px;
  padding-right: 50px;*/
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

/*Portafolio*/
.h2-portfolio {
  color: rgb(240, 236, 11);
}

.portfolio {
  font-weight: bolder;
  background-color: rgba(247, 44, 18, 0.8);
}
.row {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
}
figure {
  margin-right: 40px;
  margin-bottom: 20px;
}

/*Clients*/

.h2-clients {
  font-weight: bolder;
  color: rgb(9, 201, 9);
}
.clients {
  background-color: rgba(100, 63, 15, 0.6);
}
.row-clients {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  align-content: space-between;
}
/*Contact*/
.contact {
  background-color: rgb(22, 197, 209, 0.3);
}

.form {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
input {
  width: 47%;
  height: 60px;
}
.h2-contact {
  font-weight: bolder;
  color: rgb(248, 16, 27);
}

textarea {
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
}
button {
  padding: 25px 50px 25px 50px;
  margin-bottom: 20px;
  display: flex;
  font-size: 24px;
  text-align: center;
  color: white;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20%;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

/*RESPONSIVE*/
@media screen and (max-width: 900px) {
  .container-about-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
